.BusinessSheet {

    img {
        object-fit: cover;
        max-height: 280px;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .profile {
        background: #F7F7F7;
        height: 104px;
        display: flex;
        gap: 16px;
        align-items: center;
        padding: 0 150px;

        @media (max-width:992px) {
            padding: 0px 16px;
        }

        img {
            border-radius: 50%;
            border: 2px solid #F7F7F7;
            width: 160px;
            height: 160px;
            margin-top: -102px;

            @media (max-width:992px) {
                width: 80px;
                height: 80px;
            }

        }

        h1 {
            font-size: 20px;
            font-weight: 400;
            line-height: 20px;
            text-align: left;
            margin-top: -25.5px;
        }
    }

    .businessSheetData-s1 {
        padding: 32px 150px;
        display: flex;
        align-items: start;
        justify-content: center;
        gap: 40px;
        // background-color: red;


        @media (max-width:992px) {
            flex-direction: column;
            gap: 24px;
            padding: 24px 16px;
        }


        .left {
            flex: 1;
            width: 50%;

            @media (max-width:992px) {
                width: 100%
            }

        }

        .right {
            flex: 1;
            width: 50%;

            @media (max-width:992px) {
                width: 100%
            }
        }



    }

    .businessSheetData-s2 {
        position: relative;

        img[alt="background"] {
            position: absolute;
            max-height: fit-content;
            width: 100%;
            height: 100%;
            z-index: -1;
        }

        .section2Container {
            padding: 40px 150px;
            // margin: 0 150px;
            height: fit-content;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 16px;

            @media (max-width:992px) {
                padding: 16px;
                gap: 24px;
            }

            .goldenEgg {
                // min-height: 106px;
                // display: flex;
                // align-items: center;
                // justify-content: start;
                // gap: 16px;
                width: 100%;
                display: grid;
                grid-template-columns: auto 1fr 1fr 1fr;
                grid-gap: 16px;

                @media (max-width:992px) {
                    grid-template-columns: 1fr;
                    grid-gap: 8px;
                }

            }

            .goldenGoose {
                // min-height: 215px;
                width: 100%;
                display: grid;
                grid-template-columns: auto 1fr 1fr 1fr;
                grid-column-gap: 16px;

                .valueContainer {
                    flex-direction: column;
                    align-items: start;
                    display: -webkit-box;

                }

                @media (max-width:992px) {
                    grid-template-columns: 1fr;
                    grid-gap: 8px;
                }

            }

            .ourStrengths {
                // min-height: 106px;
                width: 100%;
                display: grid;
                grid-template-columns: auto 1fr;
                grid-column-gap: 16px;

                .valueContainer {
                    align-items: start;
                    display: -webkit-box;

                }

                @media (max-width:992px) {
                    grid-template-columns: 1fr;
                    grid-gap: 8px;
                }

            }

            .powerWord {
                // min-height: 142px;
                width: 100%;
                display: grid;
                grid-template-columns: auto 1fr;
                grid-column-gap: 16px;

                .valueContainer {
                    display: -webkit-box;
                }

                .gridContainer {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-template-rows: 1fr 1fr;
                    grid-column-gap: 16px;
                    grid-row-gap: 8px;

                    @media (max-width:992px) {
                        grid-template-columns: 1fr 1fr;
                        grid-gap: 8px;
                    }
                }

                @media (max-width:992px) {
                    grid-template-columns: 1fr;
                    grid-gap: 8px;
                }

            }

            .products {
                // min-height: 177px;
                width: 100%;
                display: grid;
                grid-template-columns: auto 1fr 1fr 1fr;
                grid-column-gap: 16px;

                .valueContainer {
                    align-items: start;
                    display: -webkit-box;
                }

                @media (max-width:992px) {
                    grid-template-columns: 1fr;
                    grid-gap: 8px;
                }

            }



        }

    }


}