/* The Modal (background) */
.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    animation: fadeIn 0.5s ease-out;   

    &.open {
        display: block;
    }
    
    &.close {
        display: none;
    }

    .modalBox {
        border-radius: 8px;
        background-color: #fefefe;
        margin: 50px auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        position: relative;
        overflow-x: hidden;
    
        &.open {
            animation: fadeInZoomIn 0.5s ease-out;
        }
        
        &.close {
            animation: fadeInZoomOut 0.3s ease-out;
        }
        
        .closeBtn {
            background-color: #fefefe;
            border-radius: 8px;
            color: #aaa;
            font-size: 35px;
            font-weight: bold;
            outline: none;
            border: none;
            position: absolute;
            top: 0px;
            right: 0px;
            width: fit-content;
            height: fit-content;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            min-width: fit-content !important;
            width: fit-content;
            transition: all .5s;

            &:hover{
                color: black;
                text-decoration: none;
                cursor: pointer;
                rotate: 720deg;
            }
        }
        
    }
    
}


/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeInZoomIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeInZoomOut {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0.95);
    }
}