body {
    font-family: 'Noto Sans JP', sans-serif;
}
.copilotKitHeader {
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
}
.copilotKitInputContainer {
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
}

.copilotKitInput > textarea {
    line-height: 30px !important;
}

.copilotKitAssistantMessage {
    background-color: #F6F7F7 !important; /* AI message background color */
}

.copilotKitInput {
    background-color: #F6F7F7 !important;
    border-radius: 40px !important;
    padding: 10px 20px !important;
    flex-direction: row !important;
    height: 52px !important;
    overflow: scroll;
}

.copilotKitUserMessage {
    background: #28335E !important;
    padding: 10px 15px !important;
}

.copilotKitHeader::before {
    content: "";
    background-image: url("/public/images/hedgehog.png");
    background-size: contain;
    width: 40px;
    height: 40px;
    border-radius: 80%;
    margin-right: -70px;
}

.copilotKitMessage.copilotKitAssistantMessage {
    border-radius: 4px !important;
    padding: 10px 15px !important;
}

.copilotKitInputControlButton svg {
    display: none !important;
}

.copilotKitInputControlButton {
    background-image: url("assets/images/chat-bot-arrow.svg") !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 30px !important;
    height: 30px !important;
    padding: 0;
    position: fixed;
    right: 8%;
}

.copilotKitInput > textarea {
    max-width: 285px;
}

.copilotKitButton {
    display: var(--button-display, block) !important;
}

.copilotKitHeaderCloseButton {
    display: block !important;
    cursor: pointer !important;
}
.copilotKitMessageControls, .currentMessage {
    display: none !important;
}

.copilotKitWindow {
    width: 22rem !important;
    height: 500px !important;
    bottom: 0rem !important;
}



.copilotKitMessageControlButton {
    display: none !important;
}
@media screen and (max-width: 1024px) {
    .copilotKitHeaderCloseButton {
      display: block !important;
      margin-right: 10px !important;
      cursor: pointer !important;
    }
  
    .copilotKitMessageControls,
    .currentMessage {
      display: block !important;
    }
    .copilotKitWindow {
        width: 100% !important;
        height: calc(100% - 50px) !important;
        top: 50px !important;   
    }
}
  
  