.sidebarV2 {
  min-width: 25%;
  width: 25%;
  background-color: white;
  border-radius: 10px;
  overflow-y: auto;
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
  max-width: 25%;

  @media (max-width: 768px) {
    max-width: 100%;
    margin-left: 0;
    border-radius: 0;
    border-left: none;
    border-right: none;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
  }
}

.chatPreviewV2 {
  display: flex;
  align-items: center;
  min-height: 82px;
  padding: 14px 24px;
  border-bottom: 1px solid #E6E6E6;
  cursor: pointer;
 

  .avatarContainerV2 {
    position: relative;
    width: 50px;
    height: 50px;
    margin-right: 16px;
  border: 1px solid #FFFFFF;
  min-width: 40px;

    .userAvatar {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
      position: relative;
      z-index: 2;
      border: 2px solid white;
    }

    .botOverlay {
      position: absolute;
      top: -15px;
    top: -10px;
    right: -10px;
    width: 24px;
    height: 24px;
      border-radius: 50%;
      object-fit: cover;
      border: 2px solid #fff;
      background-color: #fff;
      z-index: 1;
    }

    .userInitial {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: #ccc;
      font-weight: bold;
      font-size: 20px;
      color: #333;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 2;
      position: relative;
    }
  }
  
  .notificationDotV2 {
          width: 10px;
          height: 10px;
          margin-left: 12px;
          background-color: #c00;
          border-radius: 50%;
        }

  .messagePreviewV2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px 0;
    min-width: 10px;

    .previewHeaderV2 {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .userNameV2 {
        font-size: 16px;
        font-weight: 700;
        color: #333;
        max-width: 83%;
    text-wrap: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 2px;
      }

      .timestampWrapper {
        display: flex;
        align-items: center;
        gap: 6px;

        .timestampV2 {
          font-size: 12px;
          color: #999;
        }

      }
    }

    .previewTextV2 {
      font-size: 12px;
      color: #999;
       text-wrap: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 83%;
    }
  }
}

@media (max-width: 991px) {
  .sidebarV2 {
    max-width: 100%;
    width: 100%;
  }

  .chatPreviewV2 {
    padding: 18px 12px;
  }

  .chatPreviewV2 .avatarContainerV2 {
    width: 40px;
    height: 40px;
    margin-right: 12px;

    .userInitial {
      font-size: 16px;
    }
  }

  .messagePreviewV2 .previewHeaderV2 .userNameV2 {
    font-size: 14px;
  }

  .messagePreviewV2 .previewHeaderV2 .timestampV2,
  .messagePreviewV2 .previewTextV2 {
    font-size: 11px;
  }
}
