.btn-card {
  padding: 10px 16px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  box-sizing: border-box;

  &--primary {
    background-color: #333;
    color: #fff;
  }

  &--secondary {
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
  }

  &:disabled {
    background-color: #F3F4F6;
    color: #D1D5DB;
    border: 1px solid #E6E6E6;
    cursor: not-allowed;
  }
}

.match-card {
  position: relative;
  border-radius: 8px;
  padding: 8px 16px;
  padding-bottom: 120px;
  font-family: sans-serif;
  margin-left: 36px;
  box-sizing: border-box;
  background-color: #F6F7F7;
  height: auto;
  min-height: 222px;
  width: 100%;

  &__header-line {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 16px;
    flex-wrap: wrap;
    position: absolute;
    bottom: 10px;
    left: 20px;
  }

  &__original-message {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0px;
    color: #000000;
    flex: 1 1 auto;
    min-width: 0;
    overflow-wrap: break-word;

    @media (max-width:667px) {
      font-size: 14px;
    }
  }

  &__body {
    display: flex;
    gap: 30px;
    align-items: flex-start;
  }

  &__avatar-section {
    text-align: center;
    width: 80px;

    .match-card__avatar {
      width: 75px;
      height: 80px;
      border-radius: 50%;
      object-fit: cover;
    }

    .match-card__avatar-name {
      margin-top: 6px;
      text-align: center;

      .name {
        font-weight: bold;
        font-size: 20px;
        color: #000000;

        @media (max-width:667px) {
          font-size: 16px;
        }
      }

      .field {
        font-size: 14px;
        color: #707575;
        margin-top: 8px;

        @media (max-width:667px) {
          font-size: 12px;
        }
      }
    }
  }

  &__content {
    flex: 1;
    padding-top: 9px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__buttons {
    position: absolute;
    bottom: 8px;
    left: 16px;
    right: 16px;

    .buttons {
      display: flex;
      gap: 0 16px;
      flex-wrap: nowrap;
    }

    .showSheet {
      font-size: 14px;
      color: #0071C1;
      margin-top: 20px;
      outline: none;
      border: none;
      cursor: pointer;
      background: transparent;


      display: flex;
      align-items: center;
      gap: 4px;

    }
  }

  @media (min-width: 991px) and (max-width:1260px) {
    padding-bottom: 120px;

    &__buttons {
      // flex-direction: column;
      // gap: 8px;
      width: 95%;
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);

      .btn-card {
        width: 100%;
        text-align: center;
        font-size: 14px;
        padding: 10px 16px;
      }
    }
  }

  @media (max-width: 600px) {
    padding: 16px;
    padding-bottom: 160px;
    width: 100%;
    min-height: auto;
    margin-left: 12px;

    &__body {
      position: relative;
      flex-direction: row;
      gap: 16px;
    }

    &__avatar-section {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 80px;
      text-align: center;

      .match-card__avatar {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        margin-bottom: 6px;
      }

      .match-card__avatar-name {
        margin-top: 6px;
        text-align: center;
      }
    }

    &__content {
      flex: 1;
      padding-left: 95px;
      margin-top: 0;
    }

    &__buttons {
      flex-direction: column;
      gap: 8px;
      margin-top: 16px;
      width: 100%;
      position: absolute;
      bottom: -145px;
      left: 0px;

      .buttons {
        flex-direction: column;
        gap: 8px;
      }

      .btn-card {
        width: 100%;
        text-align: center;
        font-size: 14px;
        padding: 10px 16px;
      }
    }

    &__header-line {
      position: static;
    }
  }
}